@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: local("Oswald"), url(./assets/fonts/Oswald.ttf) format("truetype");
}
